@charset "utf-8";
/* CSS Document */
.logout {
	padding-top: 10px;
	padding-left:22px; 
	color:#0033CC; 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold; 
	background:url("/student/themes/default/images/common/logout.gif") 0 100% no-repeat;
}
.user {
	padding-top: 10px;
	padding-left:22px; 
	color:#0033CCF; 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold; 
	background:url("/student/themes/default/images/common/user.gif") 0 100% no-repeat;
}
.heading1 {
	background-color:#333;
	color:#FFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold; 
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
}
.heading2 {
	background-color:#666;
	color:#FFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold; 
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
}
.error_img {	
	padding-top: 75px;
	background:url("/student/themes/default/images/common/error.gif") 0 100% no-repeat;
}
.cart_img {
	cursor: pointer;
	background-image: url("/student/themes/default/images/common/cart_add.gif");
	background-repeat: no-repeat;
}
.line_bg {
	background-image: url("/student/themes/default/images/common/divider.gif");
	background-repeat: repeat-x;
}
.input-75px {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	width: 75px;
	color: #878787;
	text-align: right;
	border: 1px solid #CCCCCC;
	vertical-align: bottom;
}
.seatSelection-input-75px {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	width: 75px;
	color: #3366FF;
	text-align: right;
	border: 1px solid #CCCCCC;
	vertical-align: bottom;
	cursor: pointer;
}
.input-30px {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	width: 30px;
	color: #878787;
	text-align: right;
	border: 1px solid #CCCCCC;
	vertical-align: bottom;
}
.input {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	width: 200px;
	color: #878787;
	border: 1px solid #CCCCCC;
	vertical-align: bottom;
}
.button, .resend-button, .cancel-button {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #66CCFF;
	background-color: #81BEF7;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
}
.body-text-11px {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #6600FF;
}
.body-bold-text-11px  {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #6600FF;
}
.body-bold-text-12px  {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #6600FF;
}
.body-bold-text-14px  {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #6600FF;
}
.error-text-11px {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: red;
}
.error-bold-text-11px {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: red;
}
.title-14px {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 14px;
	color: #0000FF;
}
.title-16px {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 16px;
	color: #0000CC;
}
.box {
	background-color: #FFFFFF;
	border: 1px solid #d2d2d2;
}
#-----------------------------------------------------------
#-                      CSS for Menu                       -
#-----------------------------------------------------------
.gray-body-bold-text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #555555;
}
.jqueryslidemenu {
font: bold 12px Verdana;
background: #3399FF;
width: 100%;
}

.jqueryslidemenu ul{
margin: 0;
padding: 0;
list-style-type: none;
}

/*Top level list items*/
.jqueryslidemenu ul li{
position: relative;
display: inline;
float: left;
}

/*Top level menu link items style*/
.jqueryslidemenu ul li a{
display: block;
background: #3399FF; /*background of tabs (default state)*/
color: white;
padding: 8px 10px;
border-right: 1px solid #778;
color: #2d2b2b;
text-decoration: none;
}

* html .jqueryslidemenu ul li a{ /*IE6 hack to get sub menu links to behave correctly*/
display: inline-block;
}

.jqueryslidemenu ul li a:link, .jqueryslidemenu ul li a:visited{
color: white;
}

.jqueryslidemenu ul li a:hover{
background: black; /*tab link background during hover state*/
color: white;
}
	
/*1st sub level menu*/
.jqueryslidemenu ul li ul{
position: absolute;
left: 0;
display: block;
visibility: hidden;
}

/*Sub level menu list items (undo style from Top level List Items)*/
.jqueryslidemenu ul li ul li{
display: list-item;
float: none;
}

/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.jqueryslidemenu ul li ul li ul{
top: 0;
}

/* Sub level menu links style */
.jqueryslidemenu ul li ul li a{
font: normal 13px Verdana;
width: 160px; /*width of sub menus*/
padding: 5px;
margin: 0;
border-top-width: 0;
border-bottom: 1px solid gray;
}

.jqueryslidemenuz ul li ul li a:hover{ /*sub menus hover style*/
background: #eff9ff;
color: black;
}

/* ######### CSS classes applied to down and right arrow images  ######### */

.downarrowclass{
position: absolute;
top: 12px;
right: 7px;
}

.rightarrowclass{
position: absolute;
top: 6px;
right: 5px;
}
#-----------------------------------------------------------
#-                      CSS for Menu                       -
#-----------------------------------------------------------